extends ../base

block  var
    - var title = "Панель администратора"
    - var authorDescription = 'Личный сайт веб-разработчика'
    - var page = 'admin'

block content
    main.main.main__admin
        header.header-admin 
            h1.header__title Панель администрирования
            a.header-admin__link-back(href='/') Вернутся на сайт
        section.panel-admin
            ul.panel-admin__tabs.tabs
                li.tabs__title.active__tab(for="tabs__tab-1") Обо мне
                li.tabs__title(for="tabs__tab-2") Блог
                li.tabs__title(for="tabs__tab-3") Мои работы
                li.tabs__title(for="tabs__tab-4") Аватар
            ul.panel-admin__content
                li.panel-admin__content-bg
                li.admin-about.panel-admin__item.panel-admin__item_active
                        h2.admin-about__title Страница "Обо мне"
                        .skills-table.admin-about__skills 
                            .skills-table__title Frontend
                            .skills-table__row
                                .skills-table__cell HTML
                                .skills-table__cell.skills-table__col 
                                    input.skills-table__input(value=`${data.html}` id='admin-input-html')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell CSS
                                .skills-table__cell.skills-table__col 
                                    input.skills-table__input(value=`${data.css}` id='admin-input-css')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell JavaScript
                                .skills-table__cell.skills-table__col 
                                    input.skills-table__input(value=`${data.js}` id='admin-input-js')
                                .skills-table__cell %
                        .skills-table.admin-about__skills 
                            .skills-table__title Workflow
                            .skills-table__row
                                .skills-table__cell Git
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.git}` id='admin-input-git')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell Webpack
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.webpack}` id='admin-input-webpack')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell Linux
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.linux}` id='admin-input-linux')
                                .skills-table__cell %
                        .skills-table.admin-about__skills 
                            .skills-table__title Backend
                            .skills-table__row
                                .skills-table__cell Python
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.python}` id='admin-input-python')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell Node.js
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.node}` id='admin-input-node')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell MySQL
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.mysql}` id='admin-input-mysql')
                                .skills-table__cell %
                            .skills-table__row
                                .skills-table__cell Mongo.db
                                .skills-table__cell.skills-table__col
                                    input.skills-table__input(value=`${data.mongo}` id='admin-input-mongo')
                                .skills-table__cell %
                        button.admin-about__button Сохранить
                li.admin-blog.panel-admin__item
                    h2.admin-blog__title Страница "Блог"
                    .admin-blog__left
                        h3.admin-blog__title-2 Добавить запись
                        form.form-blog(id='formBlog' method='POST' action='/admin/adminBlog')
                            input.form-blog__input(type='text' name='title' placeholder='Название')
                            input.form-blog__input(type='text' name='date' placeholder='Дата')
                            textarea.form-blog__textarea(type='text' name='article' placeholder='Содержание')
                            button.form-blog__button-submit Добавить
                    .admin-blog__right
                        h3.admin-blog__title-2 Список статей
                        ul.list-articles.admin-blog__list-articles    
                li.admin-portfolio.panel-admin__item
                    h2.admin-portfolio__title Страница "Мои работы"
                    h3.admin-portfolio__title-2 Добавить работу
                    form.form-portfolio
                        input.form-portfolio__input(type='text' name='title' placeholder='Название проекта')
                        input.form-portfolio__input(type='text' name='date' placeholder='Технологии')
                        input.form-portfolio__input.form-portfolio__input_disabled(type='file' name='image' id='image' placeholder='Загрузить картинку')
                        .file-download-image.form-portfolio__file-download
                            label.file-download-image__label(for='image') 
                            span.file-download-image__discription Загрузить картинку
                        button.form-portfolio__button-submit Добавить
                li.admin__avatar.panel-admin__item
                    h2.admin__avatar__title Страница смены аватара
                    form.form-avatar(id='formAvatar' method='POST' action='/admin/adminAvatar')
                        input.form-avatar__input.form-avatar__input_disabled(type='file' name='avatar' id='avatar' accept='image/*,image/jpeg,image/jpg,image/png' onchange='handle()')
                        .file-download-image.form-admin__file-download
                            label.file-download-image__label(for='avatar') 
                            span.file-download-image__discription Загрузить фото
                        .form-avatar__input-test Файл не выбран
                        button.form-avatar__button-submit(type='submit') Добавить
        include ../components/blocks/modal/modal.pug
        script
            | function handle(){
            |   const inputTest = document.querySelector('.form-avatar__input-test');
            |   inputTest.innerHTML = 'Файл выбран';
            | }
